body::before {
    display: block;
    content: '';
    height: 60px;
}

.toptext {
    font-size: 130px;
    font-weight: 800;
    line-height: 130px;
}

.firstbutton {
    background-color: #EF8964;
    position: absolute;
    width: 180px;
    height: 110px;
    left: 1152px;
    top: 279px;
    border-radius: 12px;
}


