<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Learn Adobe Photoshop</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
          totam pariatur harum at fugit animi?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
          dolores quo voluptate veniam modi libero natus et, quisquam
          repudiandae aspernatur suscipit eligendi cupiditate eaque, optio
          molestias ipsum facilis odio eveniet!
        </p>
        <a href="#" class="bottom-0 end-0" style="text-decoration: none"
          >See More
          <i class="bi bi-arrow-right" style="color: aliceblue"></i>
        </a>
      </div>
      <div class="col-md">
        <img src="../assets/images/girl1.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../assets/images/girl2.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-md p-5">
        <h2>Learn Adobe Photoshop</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
          totam pariatur harum at fugit animi?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
          dolores quo voluptate veniam modi libero natus et, quisquam
          repudiandae aspernatur suscipit eligendi cupiditate eaque, optio
          molestias ipsum facilis odio eveniet!
        </p>
        <a href="#" class="bottom-0 end-0" style="text-decoration: none"
          >See More
          <i class="bi bi-arrow-right" style="color: aliceblue"></i>
        </a>
      </div>
    </div>
  </div>
</section>
