<nav class="navbar  navbar-expand-xs  navbar-expand-lg bg-dark  navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">WORKOUT</a>    

        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <navbar class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="navbar-item">
                    <a href="#workout" class="nav-link">WORKOUT</a> 
                </li>
                <li class="navbar-item">
                    <a href="#programs" class="nav-link">PROGRAMS</a> 
                </li>
                <li class="navbar-item">
                    <a href="#healthy" class="nav-link">HEALTHY LIVING</a> 
                </li>
                <li class="navbar-item">
                    <a href="#community" class="nav-link">COMMUNITY</a> 
                </li>
                <li class="navbar-item">
                    <a href="#about" class="nav-link">ABOUT</a> 
                </li>
                <li class="navbar-item">
                    <a href="#stores" class="nav-link">STORE<a> 
                </li>
            </ul>
        </navbar>
    </div>  
</nav>
