<section id="instructors" class="p-5 bg-dark">
    <div class="container">
        <h2 class="text-center text-white">Membership</h2>
        <br>
        <hr class="divider bg-light">
        <br>
        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card" style="background-color: #706d6d; color: white;">
                    <div class="card-body">
                        <h3 class="card-title mb-3 text-center">Join for Free</h3>
                        <p class="card-text">Reach your fitness goals or maintain your
                            healthy lifstyle with professional training
                            and support from a positive and active 
                            online community.
                            <ul>
                                <li>~600 Full Length Workout Videos</li>
                                <li>Customizable Calendar</li>
                                <li> Healthy Recipes</li>
                                <li>health and Fitness Articles</li>
                                <li>Positive and Supportive Online</li>
                                <li>Community</li>
                                <li>No Credit Card Needed</li>
                                <li>health and Fitness Articles</li>
                            </ul> 
                        </p>
                      
                       
                    </div>
                    <div class="pb-5">
                        <a href="#" class=" bottom-0 end-0 p-5" style="text-decoration: none;">See More
                            <i class="bi bi-arrow-right" style="color:aliceblue"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="card pb-4" style="background-color: #706d6d; color: white;">
                    <div class="card-body">
                        <h3 class="card-title mb-3 text-center">WO Plus</h3>
                        <p class="card-text">WO Plus includes everything you get with a 
                            free membership and adds brand new
                            convenience features, fitness tools, and 
                            unique content.
                            <ul>
                                <li>Ads-Free Website and Videos</li>
                                <li>Surprise Me Workout Selection Tool</li>
                                <li>Statistics for Your Activities</li>
                                <li>Enter and Track Custom Workouts</li>
                                <li>FB Plus Exclusive Workouts</li>
                                <li>FB Plus Content and Challenges</li>
                                <li>Video Tags</li>
                                <li>FB Plus Routines</li>
                                <li>Rest Day Complete</li>
                            </ul>  
                        </p>
                        
                           
                            <div href="#" class=" w-25 btn-sm  m-2
                            btn btn-primary" style="border-radius: 20px;" >
                               Join club Now!
                           </div>
                    </div>
                   
                </div>
            </div>
 
        </div>
    </div>
</section>